## - Objects and References

###### Python is strongly typed. Every object has a type (and an id), but references are not typed (like a C++ null pointer)

In [1]:
test_int = 12 # test_int is pointing to an int.
test_float = 12.5
print(id(test_int))
test_int = test_float # test_int now points to a float object. References in Python are not typed. 
print(test_int)
print(id(test_int))

274881487840
12.5
275572443408

## - Data types

### 7 scalar types

In [2]:
#Python has 7 scalar types {None, bool, int, float, str, complex and bytes} and they are all immutable.
my_none = None
my_bool = True
my_int  = 12
my_float = 10.6
my_str = "Hello"
my_complex = 1 + 9j
my_bytes = 'Hello'.encode('utf-8')

print("1-", type(my_none))
print("2-", type(my_bool))
print("3-", type(my_int))
print("4-", type(my_float))
print("5-", type(my_str))
print("6-", type(my_complex))
print("7-", type(my_bytes))

1- <class 'NoneType'>
2- <class 'bool'>
3- <class 'int'>
4- <class 'float'>
5- <class 'str'>
6- <class 'complex'>
7- <class 'bytes'>

### Tuple, List, Range, Dictionary and Set

In [3]:
tuple1 = (my_int, 2, 3, my_complex) #as in C# tuples are immutable
list1 = [my_int, 2, 3, my_complex]
set1 = {1,2,"3"}
dictionary1 = {'zero': 'samy boulos',  1: True } #dict keys and values can be different types
myRange = range(0,3)
for r in myRange:
    print(r)

print(type(tuple1))
print(type(list1))
print(type(set1))
print(type(dictionary1))
print(type(myRange))

0
1
2
<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'dict'>
<class 'range'>

### 2 not popular data structures

In [4]:
#my_immutable_frozen_set = 
#my_byteArray =
#print(type(my_immutable_frozen_set))
#print(type(my_byteArray))

### Type Conversion and comparison

In [5]:
float_to_int = int(2.03) #10
print(float_to_int) 
bool_to_int = int(True)
print(bool_to_int) #1
my_string = str(12.5)
print(type(my_string))
# string_to_int = int('Hello') error


#comparison method 1 isinstance()
print(isinstance(my_complex, complex)) #True

#comparison method 2 type ()
print(type(10) == type(my_int))
print(type(10) == int)

2
1
<class 'str'>
True
True
True

### Identity operator is returns true if both operands are the same object

In [6]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z) # returns True because z is the same object as x
print(x is y) # returns False because x is not the same object as y, even if they have the same content
print(x == y) # this comparison returns True because x is equal to y

True
False
True

## - Operators

### Logical Operators in Python are characters not symbols

In [7]:
print (1 < 2 and 2 < 3)
print (1 < 2 or 1==0)
print (not True)

True
True
False

### Truthy and falsy values

In [8]:
if not False:
    print ('False is falsy') 
if not None:
    print ('None is falsy')
if not 0:   
    print ('integer value 0 is falsy')
if -1:   
    print ('any integer value other than 0 is truthy')
if not 0.0:   
    print ('float value 0.0 is falsy')  
if 0.1:   
    print ('any float value other than 0.0 is truthy')     
if not '':   
    print ('empty string is falsy')  
if 'hello':   
    print ('any non-empty string is truthy') 
if not []:   
    print ('any empty data structure is falsy') 
if [1]:   
    print ('any non-empty data structure is truthy')     
if not ():   
    print ('any empty data structure is falsy')
if (1,2):   
    print ('any non-empty data structure is truthy')     
if not {}:   
    print ('any empty data structure is falsy')
if {"1":"One"}:
    print ('any non-empty data structure is truthy')

False is falsy
None is falsy
integer value 0 is falsy
any integer value other than 0 is truthy
float value 0.0 is falsy
any float value other than 0.0 is truthy
empty string is falsy
any non-empty string is truthy
any empty data structure is falsy
any non-empty data structure is truthy
any empty data structure is falsy
any non-empty data structure is truthy
any empty data structure is falsy
any non-empty data structure is truthy

### Exponent and Division

In [9]:
print(2 ** 8) # This is exponent
print(7/2) #Floating point division
print(7//2) #Integer (truncating) divison

256
3.5
3

### Continuation Character

In [10]:
long_string = 'Hello world' \
+ " this is line 2" \
+ " This is line 3"
long_string

'Hello world this is line 2 This is line 3'

In [11]:
#This is strange. What happens here?
test = 0 and True
print(test)
print(type(test))
test = 0 and False  
print(test)

0
<class 'int'>
0

## - Strings

### Multiline String uses 3 quotes and inserts a \n character at the end of each line

In [12]:
poem = '''In Winter I get up at night
And Dress by yellow candle light
In Summer, quite the other way
I have to go to bed by day'''
print(poem)
"Here you will see the \n character: "  + poem

In Winter I get up at night
And Dress by yellow candle light
In Summer, quite the other way
I have to go to bed by day

'Here you will see the \n character: In Winter I get up at night\nAnd Dress by yellow candle light\nIn Summer, quite the other way\nI have to go to bed by day'

### fStrings and Raw strings

In [13]:
# fstring is equivalent to string interpolation in C# : $"My name is {name}"
name = 'Donald Duck'
print(f'my name is {name}')
#raw string is equivalent to verbatim stings in C#
non_raw_string = 'hello\nworld'
raw_string = r'hello\nworld'
print(non_raw_string)
print(raw_string)

my name is Donald Duck
hello
world
hello\nworld

## Operations on sequences

### How to create a tuple with one item or emtpy set

In [14]:
#This is a string not a tuple
my_not_tuple = ('Hello')  
#To create a one-item tuple add a comma at the end
my_tuple = ('Hello' ,) 
print (type(my_not_tuple))
print (type(my_tuple))

#empty braces creates and empty dictionary 
empty_dict = {}
empty_set = set()
print (type(empty_dict ))
print (type(empty_set))

<class 'str'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

### Multiplication

In [15]:
list1 = [1,2,3]
list2 = list1*3 
print(list2)

tuple1 = (1,2,3)
tuple2 = tuple1* 3
print(tuple2)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
(1, 2, 3, 1, 2, 3, 1, 2, 3)

### Unpacking

In [16]:
full_name = ('Donald', 'Duck')
first_name, last_name =  full_name #this is equivalent to Tuple Deconstruction in C#
print (first_name)
print (last_name)

#You can also use it to swap variables
first_name, last_name = (last_name, first_name)
print (first_name)
print (last_name)

word1, word2, word3 = ["1", "2", "3"]
print (word1)
print (word2)
print (word3)

#set is unordered so will be unpacked out of order
word1, word2, word3 = {"A", "B", "C"}
print (word1)
print (word2)
print (word3)

Donald
Duck
Duck
Donald
1
2
3
B
C
A

### List Sort Vs Sorted

In [17]:
list_1 = ['B', 'A', 'D', 'C']
list_2 = ['H', 'G', 'F', 'E']
list_1.sort() # sorts the actual list
print(list_1)
sorted_list_2 = sorted(list_2) #creates a sorted copy of the list
print(sorted_list_2)
print(list_2)

['A', 'B', 'C', 'D']
['E', 'F', 'G', 'H']
['H', 'G', 'F', 'E']

### Python del statement

The del keyword is used to delete objects. In Python everything is an object, so the del keyword can also be used to delete variables, lists, or parts of a list etc.

In [19]:
# The del keyword is used to delete objects. In Python everything is an object, 
# so the del keyword can also be used to delete variables, lists, or parts of a list etc.
x = "hello"
del x
# print(x) # NameError: name 'x' is not defined

In [20]:
list1 = ['A','B','C']
del list1[0]
list1

['B', 'C']

### List (append, insert and remove)

In [21]:
list1 = ['A','C']
list1.append('D')
list1.insert(1, 'B')
list1.remove('C')
print(list1)

['A', 'B', 'D']

### Set add and remove

In [22]:
set1 = {'A','B','C'}
set1.add('D')
print(set1)
set1.remove('D')
print(set1)

{'B', 'C', 'D', 'A'}
{'B', 'C', 'A'}

### Dict add or change key value

In [23]:
letters = {'A':1, 'B':2, 'C':3}
letters ['D'] = 4
letters ['A'] = 0
print(letters)

{'A': 0, 'B': 2, 'C': 3, 'D': 4}

### pop (Supported by all mutable data structures)

In [24]:
list1 = ['A', 'B', 'C']
dict1 = {'A':1, 'B':2, 'C':3 }
set1 = {10, 20, 30}

list1.pop(0) #index is optional for lists
dict1.pop('A') # index is required for dicts
set1.pop() # index is illegal for sets

print(list1) 
print(dict1)
print(set1)

['B', 'C']
{'B': 2, 'C': 3}
{20, 30}

### Count occurences

In [25]:
print("Rafael Nadal".count('l'))

2

### Find item's index

In [26]:
print("Rafael Nadal".index('l')) #0
print("Rafael Nadal".find('J')) #-1 This only works for strings

5
-1

### Find length

In [27]:
len([1,2,3,4]) #4

4

### in operator tests if item exists in a sequence (like SQL)

In [28]:
print ('o' in 'hello')
print (1 in [1,2,3])
print ('hello' in ('hello', 'world'))
print ('key1' in {'key1':'value1'})

True
True
True
True

### Get by index with a -ve value counts from the end

In [29]:
print("Hello World"[-1])

d

### Iterate multiple sequences

In [30]:
for a, b, c in zip('Hello', 'Bonjour', 'Hi'):
    print(a,b,c)

H B H
e o i

### Comprehension [expression for item in iterable if condition] (not supported for Tuples)

In [31]:
numbers = range (1,10)
even_numbers = [number for number in numbers if number % 2 == 0]
print(even_numbers)

[2, 4, 6, 8]

### Slicing

In [32]:
# Do we need copy.deepcopy() ?
list1 = [1,2,3,4]
list2 = list1[:] # entire thing
print(list1)

[1, 2, 3, 4]

### Deep copy

In [33]:
import copy 
list1 = [1,2,[3,4]]
list2 = list1
list3 = list1.copy()
list4 = list1[:]
list5 = copy.deepcopy(list1)
list1[2][0] = -1
print(list1)
print(list2)
print(list3)
print(list4)
print(list5)

[1, 2, [-1, 4]]
[1, 2, [-1, 4]]
[1, 2, [-1, 4]]
[1, 2, [-1, 4]]
[1, 2, [3, 4]]

### Change items with a slice

In [34]:
slicing_list = list(range (1,10))
slicing_list_copy = slicing_list[:]
print(slicing_list_copy)
slicing_list_copy[0:2] = ['one','two'] 
print(slicing_list_copy)
slicing_list_copy[-1:] = 'ABC' # you can assign any iterable 
print(slicing_list_copy)
slicing_list_copy[2:9] = [0]
print(slicing_list_copy)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
['one', 'two', 3, 4, 5, 6, 7, 8, 9]
['one', 'two', 3, 4, 5, 6, 7, 8, 'A', 'B', 'C']
['one', 'two', 0, 'B', 'C']

### map() function

In [35]:
def myfunc(a, b):
  return a + b

##number of iterables has to match signature of myfunc
result = map(myfunc, ['apple', 'banana'], ['orange', 'lemon', 'pineapple']) 
for r in result:
    print(r)

appleorange
bananalemon